@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="text-danger">ACCESS DENIED</h1>
<h2 class="text-white">Only Authorized Personel can view this page</h2>


<a asp-action="Index" class="btn btn-primary">Back to Dashboard</a>
<a asp-controller="Store" asp-action="Index2" class="btn btn-warning">Store</a>
