
@{
    ViewData["Title"] = "Getname Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<p align="center" class="text-light"> Your name is </p>
<h2 align="center" style="color: blue"> @TempData["message"] </h2>
<a asp-controller="Dashboard" asp-action="Index" class="btn btn-danger">Back</a>
