@{
    ViewData["Title"] = "GetGames";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<hr />
<h1 class="text-warning fdin Media2 center">
    Added to Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
    </svg>
</h1>
<br />
<a asp-action="ViewCart" class="btn btn-success fdin Media3 center">View Cart</a>
<br />
<a asp-action="Index2" class="btn btn-warning fdin Media3 center"> Keep Shopping </a>