@{
    ViewData["Title"] = "OrderMovie";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<hr />
<h1 class="text-warning font-big Media3 center"> Confirmed ✔ </h1>

<h2 class="text-success Media3"> Thank you for placing your order. Our team will reach out to you with further details , 
    soon. </h2>


<a asp-action="Index2" class="btn btn-warning Media3 center"> Binge More! </a>
